body {
  background-color: #F5F5F5;
  font-family: 'Biryani', sans-serif;
}

.intro-title {
  padding: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 75px;
  padding: 20px;
  width: 45%;
}
.welcome-banner {
  background: linear-gradient(to right,#8ED1DC, #E3F4F6);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 75px;
  width: 510px;
  padding: 20px;
  border-radius: 5px;
}
.main-nav {
  width:53px;
  height: 100%;
  padding: 10px;
  text-align: center;
  position: fixed;
}

.elephant {
  width: 60px;
  margin-bottom: 130px;
}

.icon {
  width: 35px;
}

.little-boxes {
  border: 1px solid grey;
  margin-left: 75px;
  width: 550px;
}

.income-box {
  background-color: white;
  display: inline-block;
  width: 160px;
  height: 70px;
  padding-left: 10px;
  margin-right: 15px;
}

.credit-box {
  margin-right: 0px;
}
.income-box, p {
  font-size: 8px;
}

.income-box, h3 {
  font-size: 15px;
}

.long-boxes-title {
  margin-left: 75px;
  font-size: 18px;
}

.long-boxes {
  border: 2px solid purple;
  display: inline-block;
  margin-left: 75px;
  width: 550px;
}

.long-box {
  border: 1px solid grey;
  background-color: white;
  margin-top: 10px;
}

.bank-account-icons {
  width: 27px;
  margin-left: 10px;
  padding-right: 100px;
  padding-top: 7px;
}

.account {
  display: inline-block;
  font-size: 12px;
}

.bank-name {
  display: inline-block;
  font-size: 12px;
  padding-right: 100px;
  width: 165px;
}

.table-transactions {
  border: 2px solid gold;
  float: right;
  display: inline;
  width: 38%;
  padding: 10px;
  height: 400px;
  margin-top: -217px;
  margin-right: 25px;
}

.lines {
  border-bottom: 1px;
}
