body {
  background-color: #F5F5F5;
  font-family: 'Biryani', sans-serif;
  font-color: #363636
}

.button {
  background-color: #1CA3BA;
  color: white;
  float: right;
  border-radius: 15px;
  padding: 7px 15px;
  font-size: small;
  margin-top: 45px;
}

.new-button {
  background-color: #1CA3BA;
  color: white;
  float: right;
  border-radius: 15px;
  padding: 7px 15px;
  font-size: small;
  margin-top: -45px;
  margin-right: 70px;

}

.left-side-page {
  float: left;
  width: 45%;
  margin-left: 78px;
}

.welcome-details {
  margin-left: 6%;

}

.intro-title {
  padding: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  padding: 20px;
  width: 45%;
}
.welcome-banner {
  background: linear-gradient(to right,#8ED1DC, #E3F4F6);
  margin-top: 0px;
  margin-bottom: 40px;
  width: 510px;
  padding: 20px;
  border-radius: 5px;
}

.hide-me {
  display: none;
}

#click-button {
  position: absolute;
  width: 10px;
  right: 790px;
  top: 110px;

}
.main-nav {
  background-color: white;
  width:53px;
  height: 100%;
  padding: 10px 15px 10px 10px;
  float: left;
  position: fixed;
}

.elephant {
  width: 65px;
  margin-bottom: 235px;
}

.icon {
  width: 35px;
}

.little-boxes {
  border: 0;
  margin-left: 40px;
  width: 550px;
  display:inline-block;
}

.income-box {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  width: 160px;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 15px;
}

.credit-box {
  margin-right: 0px;
}
.income-box, p {
  font-size: 8px;
}

.income-box, h3 {
  font-size: 15px;
}

.accounts-box {
  margin-left: 40px;
  width: 550px;
}

.long-boxes-title {
  font-size: 18px;
  margin-top: 45px;
  display: inline-block;
}

.long-boxes {
  border: 0;
  display: inline-block;
  margin-left: 40px;
  width: 550px;
  border-radius: 5px;
}

.long-box {
  border: 0;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 20px;
  font-size: medium;
}

.bank-account-icons {
  width: 27px;
  margin-left: 10px;
  padding-right: 100px;
  padding-top: 7px;
}

.account {
  display: inline-block;
  font-size: 12px;
}

.bank-name {
  display: inline-block;
  font-size: 12px;
  padding-right: 100px;
  width: 165px;
}

.right-side-page {
  float: left;
  width: 45%;
  background-color: #FFFFFF;
  height: 550px;
}

.table-transactions {
  display: inline;
}

.table-transactions h3 {
  margin-left: 70px;
  margin-bottom: 15px;
  margin-top: 40px;
  font-size: large;
}

table {
  width: 500px;
  height: 430px;
  margin: auto;
  position: relative;
}

th {
  text-align: left;
}

.trans-page-left {
  border: 2px solid red;

}

.right-side-form {
  float: left;
  border: 1px solid green;
  background-color: #FFFFFF
  width: 45%;
}

.tables-one-two {
  float: left;
  width: 45%;
  background-color: #FFFFFF;
  height: 550px;


}

.form-new-transaction {
  float: left;
}
